.shop {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.shop-header {
  text-align: center;
}

.shop-products {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.25rem;
}

.product-description {
  text-align: center;
}

.product-image {
  width: 10rem;
  height: 10rem;
}

.add-to-cart-button {
  border-radius: 0.75rem;
  font-size: 1rem;

  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px #cbd5e1;
  background-color: #fafafa;
  color: black;
  font-weight: 500;

  transition: 0.2s ease;
}

.add-to-cart-button:hover {
  color: #f8fafc;
  background-color: #334155;
  cursor: pointer;
}
